<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="flex items-center justify-between px-10 py-5 bg-zinc-800 text-white shadow-md">
        <img src="https://www.thequchange.com/IMG/logo.svg" alt="Quchange Logo" class="w-52 h-auto cursor-pointer"
            onclick="window.location.href='./'">
        <div class="flex items-center gap-6">
            <a href="/" class="font-semibold text-lg"> Home </a>
            <a href="/about" class="font-semibold text-lg"> About Us </a>
            <a href="/blog" class="font-semibold text-lg"> Blog </a>
            <a href="/contact" class="font-semibold text-lg"> Contact Us </a>
            <a href="/login" class="font-semibold text-lg bg-green-600 px-6 py-2 rounded-full"> Login </a>
        </div>
    </nav>